/*
select {
    display: inline-block;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
}
*/
body{
    background-color: rgb(25, 27, 25);
    padding: 10px;
    text-align: center;
    margin: auto;
    position: absolute;
    zoom: 120%;
}
button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 50px;
    width: 200px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.gottenchamps{
    background-color: rgb(25, 27, 25);
    padding: 10px;   
}
div.champ{
    background-color: lightgrey;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid green;
    border-radius: 5px;
}
.rerollbtn{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    margin: 3px 4px;
    cursor: pointer;
    width:auto
}
.top{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 5px;
}
.jungle{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 5px;
}
.mid{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 5px;
}
.support{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 5px;
}
.adc{
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    border-radius: 5px;
}